<div class="reset-password-wrapper">
    <div class="reset-password-container">
        <img src="/icons/tristep.jpg" class="reset-password-image" alt="Restablecer Contraseña">
        <h2 class="card-title">RESTABLECER CONTRASEÑA</h2>
        <p>Para restablecer tu contraseña, por favor, indica a continuación tu dirección de correo electrónico</p>
        <div class="form-group">
            <input type="email" [(ngModel)]="email" placeholder="Correo electrónico" required>
        </div>
        <div class="btn-container">
            <button type="submit" class="btn-danger" (click)="onSubmit()">Restablecer</button>
        </div>
    </div>
  </div>
  