.change-password-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.change-password-container {
  width: 720px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.change-password-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.card-title {
  font-size: 28px;
  color: #dc3545; /* Cambiado a rojo */
  text-align: center;
}

.form-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.form-group input {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  border-radius: 20px;
  padding: 8px 60px; /* Botón más pequeño y alargado */
  text-align: center;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #c82333;
}
