<div class="change-password-wrapper">
  <div class="change-password-container">
    <img src="/icons/tristep.jpg" class="change-password-image" alt="Restablecer Contraseña">
    <h2 class="card-title">RESTABLECER CONTRASEÑA</h2>
    
    <div class="form-group">
      <input type="password" [(ngModel)]="newPassword" placeholder="Nueva contraseña" required>
    </div>

    <div class="form-group">
      <input type="password" [(ngModel)]="confirmPassword" placeholder="Confirmar contraseña" required>
    </div>

    <div class="btn-container">
      <button (click)="onSubmit()" class="btn-danger">Restablecer Contraseña</button>
    </div>
  </div>
</div>

<!-- Modal de éxito -->
<div class="modal" tabindex="-1" id="successModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success">¡Éxito!</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal('successModal')"></button>
      </div>
      <div class="modal-body">
        <p id="successModal-message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeModal('successModal')">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de error -->
<div class="modal" tabindex="-1" id="errorModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger">Error</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal('errorModal')"></button>
      </div>
      <div class="modal-body">
        <p id="errorModal-message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModal('errorModal')">Aceptar</button>
      </div>
    </div>
  </div>
</div>
