.proximamente-container {
    position: relative;
    background-color: #f0e68c; /* Color de fondo amarillo claro (opcional si el video no se carga) */
    height: 100vh; /* Altura completa de la ventana */
    display: flex; /* Usar flexbox para centrar */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    overflow: hidden; /* Asegurar que el video no se salga del contenedor */
}

.banner-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra todo el contenedor */
    z-index: 1;
}

.message-title {
    font-size: 48px; /* Tamaño de fuente grande */
    color: #4a90e2; /* Color azul */
    margin: 0; /* Eliminar margen */
    z-index: 2; /* Asegurar que el texto esté encima del video */
    position: relative;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para resaltar el texto */
    padding: 10px 20px;
    border-radius: 10px;
}
