<div class="recover-password-container">
  <h1>¿Olvidaste tu contraseña?</h1>
  <p>No hay problema. Simplemente haznos saber tu dirección de correo electrónico y te enviaremos un enlace de restablecimiento de contraseña que te permitirá elegir una nueva.</p>
  
  <form (ngSubmit)="onSubmit()">
      <label for="email">Ingrese su correo electrónico:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="tu-email@ejemplo.com">
      <button type="submit">Enviar enlace de recuperación</button>
  </form>
  
  <p>¿Ya tienes cuenta? <a (click)="navigateToLogin()" class="text-link">Inicia sesión</a></p>
</div>
