<div class="cuidador-panel">
  <div class="panel-header">
    <h2>Panel de Cuidador</h2>
    <p>Bienvenido al Panel de Cuidador. Aquí puedes gestionar tus mascotas en adopción y sus solicitudes.</p>
  </div>

  <div class="actions">
    <button (click)="navigateToAddPet()" class="btn-primary btn-add-pet">
      <i class="fas fa-plus-circle"></i> Agregar Mascota
    </button>
    <button (click)="navigateToCatsPanel()" class="btn-primary btn-cats">
      <i class="fas fa-cat"></i> Panel de Gatos
    </button>
    <button (click)="navigateToDogsPanel()" class="btn-primary btn-dogs">
      <i class="fas fa-dog"></i> Panel de Perros
    </button>
  </div>
</div>