<div class="container">
    <h1>Funciones y Roles en la Plataforma</h1>
  
    <section class="rol">
      <h2>Rol: Usuario</h2>
      <p>¡Hola! Si estás leyendo esto, es porque tal vez estás un poco perdido o quieres saber de qué trata esta página. No te preocupes, estamos aquí para ayudarte. Como "Usuario" puedes explorar la plataforma, ver los perfiles de nuestras adorables mascotas y aprender cómo funciona todo. Sin embargo, aún no puedes adoptar ni subir mascotas hasta que te registres. Esta es tu oportunidad para familiarizarte con todo. ¡Esperamos que te animes a unirte y hacer una diferencia en la vida de un amigo peludo!</p>
    </section>
  
    <section class="rol">
      <h2>Rol: Adoptador</h2>
      <p>El Adoptador es un usuario registrado con permisos para solicitar la adopción de mascotas. Puede:</p>
      <ul>
        <li>Ver y solicitar la adopción de mascotas.</li>
        <li>Ver un historial de sus solicitudes de adopción.</li>
      </ul>
    </section>
  
    <section class="rol">
      <h2>Rol: Cuidador</h2>
      <p>El Cuidador tiene acceso a funciones avanzadas y es responsable de gestionar las mascotas en adopción. Puede:</p>
      <ul>
        <li>Agregar nuevas mascotas disponibles para adopción.</li>
        <li>Revisar y aprobar o rechazar solicitudes de adopción.</li>
        <li>Actualizar el estado de cada mascota en la plataforma.</li>
      </ul>
    </section>
  </div>
  