<div class="text-title-container">
    <h1 class="text-title">Pasos para <span class="text-title-span">Adoptar</span></h1>
    <div class="instruction-grid">
      <div class="instruction-column">
        <div class="instruction-step">
          <img src="icons/numbers/1.png" alt="Paso 1" width="50">
          <div>
            <p class="text-content-right"><strong>{{ instructions.STEP1 }}</strong></p>
          </div>
        </div>
        <div class="instruction-step">
          <img src="icons/numbers/2.png" alt="Paso 2" width="50">
          <div>
            <p class="text-content-right"><strong>{{ instructions.STEP2 }}</strong></p>
          </div>
        </div>
        <div class="instruction-step">
          <img src="icons/numbers/3.png" alt="Paso 3" width="50">
          <div>
            <p class="text-content-right"><strong>{{ instructions.STEP3 }}</strong></p>
          </div>
        </div>
      </div>
      <div class="instruction-column">
        <div class="instruction-step">
          <img src="icons/numbers/4.png" alt="Paso 4" width="50">
          <div>
            <p class="text-content-left"><strong>{{ instructions.STEP4 }}</strong></p>
          </div>
        </div>
        <div class="instruction-step">
          <img src="icons/numbers/5.png" alt="Paso 5" width="50">
          <div>
            <p class="text-content-left"><strong>{{ instructions.STEP5 }}</strong></p>
          </div>
        </div>
        <div class="instruction-step">
          <img src="icons/numbers/6.png" alt="Paso 6" width="50">
          <div>
            <p class="text-content-left"><strong>{{ instructions.STEP6 }}</strong></p>
          </div>
        </div>
      </div>
    </div>
    <p class="text-note"><strong>Nota:</strong>Recibirás una notificación si tu solicitud fue <strong>aceptada</strong> o <strong>denegada</strong>.</p>
  </div>
