.confirmation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.confirmation-container {
  width: 500px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
}

.confirmation-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Título en rojo */
h2 {
  color: red; /* Color rojo para el título */
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  color: #666;
  margin-bottom: 20px;
}

/* Botón rojo */
.btn-back {
  background-color: #d10000; /* Rojo para el botón */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-back:hover {
  background-color: #b00000; /* Rojo más oscuro para el hover */
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
  .confirmation-container {
      width: 100%;
      padding: 15px;
  }

  h2 {
      font-size: 22px;
  }

  .btn-back {
      width: 100%;
      padding: 10px;
  }
}
