<div class="information-container">
    <img src="/icons/si.jpg" alt="Imagen de registro" class="information-image">
    <h1 class="information-title">INFORMACIÓN</h1>
    <p>
        <strong>De conformidad con lo previsto en la Ley Estatutaria 1581 de 2012 “Por la cual se dictan disposiciones generales para la protección de datos personales”, su Decreto Único Reglamentario 1074 de 2015 y demás normas concordantes, autorizo para que mis datos personales ya mencionados y consignados en el presente formulario sean incorporados en una base de datos responsabilidad de SUPPLIES 4 PETS S.A.S., y puedan ser utilizados para contactarme vía WhatsApp, por e-mail y/o telefónicamente con miras a iniciar un posible proceso de adopción.</strong>
        <strong>Usted puede ejercer los derechos de consulta, acceso, corrección, supresión, revocación o reclamo por infracción sobre mis datos, enviando la solicitud a la dirección de correo electrónico protecciondatos&#64;pawprintsoflove.com o mediante correo postal, indicando el derecho o reclamo que deseo ejercer a la dirección Calle 30 # 5 - 80, Local 2, Cartagena.</strong>
    </p>
    <button class="btn-accept" (click)="redirectToRegister()">Acepto</button>
</div>
